In [ ]:
import wrds

In [ ]:
db = wrds.Connection()
db.list_libraries() 
db.list_tables(library='frb')

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

['fx_daily', 'fx_monthly', 'rates_daily', 'rates_monthly']

In [ ]:
db.describe_table(library='frb',table='fx_daily').head(5)

Approximately 14115 rows in frb.fx_daily.

,name,nullable,type,comment
0,date,True,DATE,date
1,dexusal,True,DOUBLE PRECISION,Exchange Rate for Australia (US$/Australian$)
2,dexalus,True,DOUBLE PRECISION,Exchange Rate for Australia (Australian$/US$)
3,dexbzus,True,DOUBLE PRECISION,Exchange Rate for Brazil (Real/US$)
4,dexcaus,True,DOUBLE PRECISION,Exchange Rate for Canada (C$/US$)
5,dexchus,True,DOUBLE PRECISION,Exchange Rate for People's Republic of China (...
6,dexdnus,True,DOUBLE PRECISION,Exchange Rate for Denmark (Krone/US$)
7,dexhkus,True,DOUBLE PRECISION,Exchange Rate for Hong Kong (Dollar/US$)
8,dexinus,True,DOUBLE PRECISION,Exchange Rate for India (Rupee/US$)
9,dexjpus,True,DOUBLE PRECISION,Exchange Rate for Japan (Yen/US$)
10,dexkous,True,DOUBLE PRECISION,Exchange Rate for South Korea (Won/US$)
11,dexmaus,True,DOUBLE PRECISION,Exchange Rate for Malaysia (Ringgit/US$)
12,dexmxus,True,DOUBLE PRECISION,Exchange Rate for Mexico (New Peso/US$)
13,dexusnz,True,DOUBLE PRECISION,Exchange Rate for New Zealand (US$/N.Z.Dollar)
14,dexnzus,True,DOUBLE PRECISION,Exchange Rate for New Zealand (N.Z.Dollar/US$)
15,dexnous,True,DOUBLE PRECISION,Exchange Rate for Norway (Krone/US$)
16,dexsius,True,DOUBLE PRECISION,Exchange Rate for Singapore (Dollar/US$)
17,dexsfus,True,DOUBLE PRECISION,Exchange Rate for South Africa (Rand/US$)
18,dexslus,True,DOUBLE PRECISION,Exchange Rate for Sri Lanka (Rupee/US$)
19,dexsdus,True,DOUBLE PRECISION,Exchange Rate for Sweden (Krona/US$)
20,dexszus,True,DOUBLE PRECISION,Exchange Rate for Switzerland (Franc/US$)
21,dextaus,True,DOUBLE PRECISION,Exchange Rate for Taiwan (Dollar/US$)
22,dexthus,True,DOUBLE PRECISION,Exchange Rate for Thailand (Baht/US$)
23,dexusuk,True,DOUBLE PRECISION,Exchange Rate for United Kingdom (US$/Pound)
24,dexukus,True,DOUBLE PRECISION,Exchange Rate for United Kingdom (Pound/US$)
25,dexvzus,True,DOUBLE PRECISION,Exchange Rate for Venezuela (Bolivar/US$)
26,exauus,True,"NUMERIC(9, 3)",Exchange Rate for Austria (Schilling/US$)
27,exbeus,True,"NUMERIC(9, 2)",Exchange Rate for Belgium (Franc/US$)
28,exfnus,True,"NUMERIC(9, 4)",Exchange Rate for Finland (Markka/US$)
29,exfrus,True,"NUMERIC(9, 4)",Exchange Rate for France (Franc/US$)
30,exgeus,True,"NUMERIC(9, 4)",Exchange Rate for Germany (D. Mark/US$)
31,exgrus,True,"NUMERIC(9, 2)",Exchange Rate for Greece (Drachma/US$)
32,exusir,True,"NUMERIC(9, 4)",Exchange Rate for Ireland (US$/Pound)
33,exirus,True,"NUMERIC(9, 4)",Exchange Rate for Ireland (Pound/US$)
34,exitus,True,"NUMERIC(9, 2)",Exchange Rate for Italy (Lira/US$)
35,exneus,True,"NUMERIC(9, 4)",Exchange Rate for Netherlands (Guilder/US$)
36,expous,True,"NUMERIC(9, 2)",Exchange Rate for Portugal (Escudo/US$)
37,exspus,True,"NUMERIC(9, 2)",Exchange Rate for Spain (Pesata/US$)
38,exusec,True,"NUMERIC(9, 4)",Exchange Rate for Euro Community (US$/ECU)
39,execus,True,"NUMERIC(9, 4)",Exchange Rate for Euro Community (ECU/US$)
40,dexuseu,True,DOUBLE PRECISION,Exchange Rate for European Monetary Union (US$...
41,dexeuus,True,DOUBLE PRECISION,Exchange Rate for European Monetary Union (Eur...
42,dtwexb,True,DOUBLE PRECISION,Trade-Weighted US$ vs currencies of major US t...
43,dtwexbgs,True,DOUBLE PRECISION,Nominal Broad U.S. Dollar Index
44,dtwexm,True,DOUBLE PRECISION,Trade-Weighted US$ vs broad index currencies t...
45,dtwexafegs,True,DOUBLE PRECISION,Nominal Advanced Foreign Economies U.S. Dollar...
46,dtwexo,True,DOUBLE PRECISION,Trade-Weighted US$ vs broad index currencies t...
47,dtwexemegs,True,DOUBLE PRECISION,Nominal Emerging Market Economies U.S. Dollar ...
48,indexgx,True,"NUMERIC(9, 4)",G-10 Index of the exchange value of the Dollar

In [ ]:
columns = db.get_table(library='frb', table='fx_daily').columns
print(columns)

Index(['date', 'dexusal', 'dexalus', 'dexbzus', 'dexcaus', 'dexchus',
       'dexdnus', 'dexhkus', 'dexinus', 'dexjpus', 'dexkous', 'dexmaus',
       'dexmxus', 'dexusnz', 'dexnzus', 'dexnous', 'dexsius', 'dexsfus',
       'dexslus', 'dexsdus', 'dexszus', 'dextaus', 'dexthus', 'dexusuk',
       'dexukus', 'dexvzus', 'exauus', 'exbeus', 'exfnus', 'exfrus', 'exgeus',
       'exgrus', 'exusir', 'exirus', 'exitus', 'exneus', 'expous', 'exspus',
       'exusec', 'execus', 'dexuseu', 'dexeuus', 'dtwexb', 'dtwexbgs',
       'dtwexm', 'dtwexafegs', 'dtwexo', 'dtwexemegs', 'indexgx'],
      dtype='object')

In [ ]:
fx = db.raw_sql("""
    SELECT date, dexuseu, dexusuk, dexjpus
    FROM frb.fx_daily
    WHERE date >= '2000-01-01'
    ORDER BY date
""")

# Rename columns for clarity
fx = fx.rename(columns={
    'dexuseu': 'EURUSD',   # USD per Euro
    'dexusuk': 'GBPUSD',   # USD per British Pound
    'dexjpus': 'USDJPY'    # Yen per USD
})

In [ ]:
fx.head(5)

         date  EURUSD  GBPUSD  USDJPY
0  2000-01-03  1.0155   1.627   101.7
1  2000-01-04  1.0309   1.637  103.09
2  2000-01-05  1.0335  1.6415  103.77
3  2000-01-06  1.0324  1.6475  105.19
4  2000-01-07  1.0294  1.6384  105.17